@import "tailwindcss";

/* =========================
   Variants
========================= */

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom variants */
@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

/* =========================
   Theme
========================= */

@theme {
  /* Colors */
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;

  /* Shadows */
  --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

  /* Radius */
  --radius-4xl: 2rem;

  /* Letter spacing */
  --tracking-tightest: -0.065em;

  /* Breakpoints */
  --breakpoint-xs: 480px;

  /* Spacing */
  --spacing-4-5: 1.125rem;
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-36: 9rem;
  --spacing-50: 12.5rem;
  --spacing-100: 25rem;

  /* Fonts */
  --font-dana: "Dana";
  --font-dana-medium: "Dana Medium";
  --font-dana-demibold: "Dana DemiBold";

  --font-morabba-light: "Morabba Light";
  --font-morabba-medium: "Morabba Medium";
  --font-morabba-bold: "Morabba Bold";
}

/* =========================
   Fonts
========================= */

@font-face {
  font-family: "Dana";
  src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Dana Medium";
  src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Dana DemiBold";
  src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Morabba Light";
  src: url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Morabba Medium";
  src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Morabba Bold";
  src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
  font-display: swap;
}

/* =========================
   Base styles
========================= */

@layer base {
  body {
    font-family: var(--font-dana);
  }
}

/* =========================
   Components
========================= */

@layer components {
  .submenu {
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }

  .submenu--open {
    @apply flex;
  }

  .submenu__item--active {
    @apply relative text-orange-300 pr-2.5;
  }

  .submenu__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background-color: #fdba74;
  }

  .overlay {
    @apply md:hidden invisible opacity-0 fixed inset-0 bg-black/40 z-10 transition-all;
  }

  .overlay--visible {
    @apply visible opacity-100;
  }

  .circle {
    @apply flex items-center justify-center border rounded-full;
  }

  .circle--main {
    @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4 hidden md:flex;
  }

  .circle--lg {
    @apply w-[203px] h-[203px] border-white/25;
  }

  .circle--md {
    @apply w-[145px] h-[145px] border-white/50;
  }

  .circle--sm {
    @apply w-[95px] h-[95px] border-white/80;
  }

  @media screen and (min-width: 1280px) {
    html.dark .products {
      background-image: url("../imgs/products-bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .products {
      background-image:
        linear-gradient(rgba(243, 244, 246, 0.65), rgba(243, 244, 246, 0.65)),
        url("../imgs/products-bg.png");

      background-repeat: no-repeat;
      background-size: 100%;
      height: 900px;
    }
  }

  .section-title {
    @apply text-2xl md:text-5xl font-morabba-medium text-zinc-700 dark:text-white;
  }

  .section-subtitle {
    @apply inline-block text-lg md:text-3xl font-morabba-light mt-0.5 md:mt-1.5 text-zinc-700 dark:text-white;
  }

  .section-link {
    @apply flex items-center md:gap-x-1 text-base md:text-xl h-10 pr-3 pl-1 text-orange-300 md:hover:bg-orange-300/20 rounded-md transition-colors;
  }

  .offer {
    @apply relative text-gray-400;
  }

  .offer::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #ef4444;
    top: -2px;
  }

  .category-banner__item1 {
    background-image:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url("../imgs/categories/category-right.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-banner__item2 {
    background-image:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url("../imgs/categories/category-left.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* =========================
   Utilities
========================= */

@layer utilities {
  .bg-home-desktop {
    background-image: url("../imgs/headerBgDesktop.webp");
  }

  .bg-home-mobile {
    background-image: url("../imgs/headerBgMobile.webp");
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
